<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Randstad fietsvergoeding</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <h1>Randstad fietsvergoeding</h1>
        <form action="/process" method="post" enctype="multipart/form-data">
            
            <div class="input-box">
                <span class="header"> Fietsvergoeding formulier:</span>
                <input type="file" name="pdf" id="pdf" accept=".pdf"  required>
                <span class="header"> Handtekening:</span>
                <input type="file" name="signature" accept=".png, .jpg, .jpeg"  required>
                <span class="header"> Grootte handtekening:</span>
                <input type="range" min="100" max="400" name="width">
                <span class="details">Heb je nog geen handtekening? <a href="https://signaturely.com/online-signature/draw/" target="_blank">handtekening maken</a></span>
            </div>

            <div class="input-box">
                <span class="header"> Week:</span>
                <input type="week" name="week" id="week" placeholder="Selecteer een week" required>
            </div>

            <div class="input-box">
                <span class="header"> Aantal kilometer heen/terug:</span>
                <input type="text" name="km" id="km" required>
            </div>
            
            <div class="input-box">
                <table>
                    <tr class="header">
                        <th>Dag</th>
                        <th>Met de fiets?</th>
                    </tr>
                    <tr>
                        <th>
                            Maandag
                        </th>
                        <th>
                            <input type="radio" name="maandag" id="maandag-true" value="true" required>
                            <label for="maandag-true">Ja</label>

                            <input type="radio" name="maandag" id="maandag-false" value="false" required>
                            <label for="maandag-false">Nee</label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Dinsdag
                        </th>
                        <th>
                            <input type="radio" name="dinsdag" id="dinsdag-true" value="true" required>
                            <label for="dinsdag-true">Ja</label>

                            <input type="radio" name="dinsdag" id="dinsdag-false" value="false" required>
                            <label for="dinsdag-false">Nee</label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Woensdag
                        </th>
                        <th>
                            <input type="radio" name="woensdag" id="woensdag-true" value="true" required>
                            <label for="woensdag-true">Ja</label>

                            <input type="radio" name="woensdag" id="woensdag-false" value="false" required>
                            <label for="woensdag-false">Nee</label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Donderdag
                        </th>
                        <th>
                            <input type="radio" name="donderdag" id="donderdag-true" value="true" required>
                            <label for="donderdag-true">Ja</label>

                            <input type="radio" name="donderdag" id="donderdag-false" value="false" required>
                            <label for="donderdag-false">Nee</label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Vrijdag
                        </th>
                        <th>
                            <input type="radio" name="vrijdag" id="vrijdag-true" value="true" required>
                            <label for="vrijdag-true">Ja</label>

                            <input type="radio" name="vrijdag" id="vrijdag-false" value="false" required>
                            <label for="vrijdag-false">Nee</label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Zaterdag
                        </th>
                        <th>
                            <input type="radio" name="zaterdag" id="zaterdag-true" value="true" required>
                            <label for="zaterdag-true">Ja</label>

                            <input type="radio" name="zaterdag" id="zaterdag-false" value="false" required>
                            <label for="zaterdag-false">Nee</label>
                        </th>
                    </tr>
                    <tr>
                        <th>
                            Zondag
                        </th>
                        <th>
                            <input type="radio" name="zondag" id="zondag-true" value="true" required>
                            <label for="zondag-true">Ja</label>
                            <input type="radio" name="zondag" id="zondag-false" value="false" required>
                            <label for="zondag-false">Nee</label>
                        </th>
                    </tr>
                </table>
            </div>

            
            <input type="submit" value="Invullen">
        </form>
    </div>   
</body>
</html>
