<html lang="nl">
<head>
    <title>Randstad fietsvergoeding</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='index.css') }}">

</head>
<body>
    <h1>Randstad fietsvergoeding Begijntjesbad Overijse</h1>

    <form action="/process" method="post" enctype="multipart/form-data">
        
        <div class="input-box">
            <label for="pdf">Kies je fietsvergoeding formulier</label>
            <input type="file" name="pdf" accept=".pdf" required>
        </div>

        
        <div class="input-box">
            <table>
                <tr>
                    <th>Dag</th>
                    <th>Met de fiets?</th>
                </tr>
                <tr>
                    <th>
                        Maandag
                    </th>
                    <th>
                        <input type="radio" name="maandag" id="true" value="true" required>
                        <label for="true">Ja</label>

                        <input type="radio" name="maandag" id="false" value="false" required>
                        <label for="false">Nee</label>
                    </th>
                </tr>
                <tr>
                    <th>
                        Dinsdag
                    </th>
                    <th>
                        <input type="radio" name="dinsdag" id="true" value="true" required>
                        <label for="true">Ja</label>
                        <input type="radio" name="dinsdag" id="false" value="false" required>
                        <label for="false">Nee</label>
                    </th>
                </tr>
                <tr>
                    <th>
                        Woensdag
                    </th>
                    <th>
                        <input type="radio" name="woensdag" id="true" value="true" required>
                        <label for="true">Ja</label>

                        <input type="radio" name="woensdag" id="false" value="false" required>
                        <label for="false">Nee</label>
                    </th>
                </tr>
                <tr>
                    <th>
                        Donderdag
                    </th>
                    <th>
                        <input type="radio" name="donderdag" id="true" value="true" required>
                        <label for="true">Ja</label>

                        <input type="radio" name="donderdag" id="false" value="false" required>
                        <label for="false">Nee</label>
                    </th>
                </tr>
                <tr>
                    <th>
                        Vrijdag
                    </th>
                    <th>
                        <input type="radio" name="vrijdag" id="true" value="true" required>
                        <label for="true">Ja</label>

                        <input type="radio" name="vrijdag" id="false" value="false" required>
                        <label for="false">Nee</label>
                    </th>
                </tr>
                <tr>
                    <th>
                        Zaterdag
                    </th>
                    <th>
                        <input type="radio" name="zaterdag" id="true" value="true" required>
                        <label for="true">Ja</label>

                        <input type="radio" name="zaterdag" id="false" value="false" required>
                        <label for="false">Nee</label>
                    </th>
                </tr>
                <tr>
                    <th>
                        Zondag
                    </th>
                    <th>
                        <input type="radio" name="zondag" id="true" value="true" required>
                        <label for="true">Ja</label>
                        <input type="radio" name="zondag" id="false" value="false" required>
                        <label for="false">Nee</label>
                    </th>
                </tr>
            </table>
        </div>

        <div class="input-box">
            <!-- week selection input-->
            <span>week</span>
            <input type="week" name="week">

        </div>

        <div class="input-box">
            <span>Aantal kilometer</span>
            <input type="number" name="km">
        </div>

        <input type="submit" value="Invullen">
    </form>
</body>
</html>